.adminBody{
    display: flex;
    flex-direction: column;
    .reg-type-dash{

        display: flex;
        align-items: center;
        margin: 10px auto;
        background-color: white;

        .reg-type-block{
            padding: 10px;
            text-align: center;
            margin: 20px;
            strong{
                font-size: 36px;
                font-weight: 600;
            }
            
        }
    }
}

.mob-only{
    display: none;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );

    .fl-table {

        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
    }
    
    .fl-table td, .fl-table th {
        text-align: center;
        padding: 8px;
    }

    .fl-table td{
        cursor: pointer;
    }
    
    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }
    
    .fl-table thead th {
        color: #ffffff;
        background: #4FC3A1;
    }
    
    
    .fl-table thead th:nth-child(odd) {
        color: #ffffff;
        background: #1f2831;
    }
    
    .fl-table tr:nth-child(even) {
        background: rgb(177, 177, 177);
    }
}



.adminTopbar{
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
        padding-left: 10px;
    }

    button{
        height: 100%;
        box-shadow: white 0px 0px;
        border: none;
        background-color: rgb(49, 49, 49);
        padding: 10px 20px 10px 20px;
        color: white;
        font-weight: 800;
    }
}



@media (max-width: 786px) {
    .mob-only{
        display: inline;
        font-weight: 800;
    }
    .table-wrapper{
        width: 80vw;
        display: flex;
        align-self: center;
        content: "Scroll vertically >";
        overflow: auto;
    .fl-table {
        width: 100%;

        thead{
            display: none;
        }
        tbody{
            tr{
                display: flex;
                flex-direction: column;
            }
            .fl-table thead th:nth-child(odd) {
                color: #ffffff;
                background: #192531;
            }

        }
    }
    }
    .adminBody{
        
        width: 100vw;
        padding: 10px;
        margin: 0 auto;
        .reg-type-dash{
            text-align: center;
            width: 90%;
            margin: 0 auto;
            .reg-type-block{
                width: 50px;
                font-size: 11px;
                font-weight: 600;
                text-align: center;
                strong{
                    font-size: 28;
                }
            }
        }
        
    }
}

